{% extends "base.html" %}

{% block content %}
<div class="main-block2">
    <h2>Flair Assignment</h2>
    <form action="" method="POST">
        <!-- Keeps the information and form secure. -->
        {{ form.hidden_tag() }}

        <label id="icon-name"><i class="fas fa-tag"></i></label>
        {{ form.name(class_="text", placeholder="Please enter Reddit username.") }}

        <!-- Reddit Username Error Message -->
        {% for error in form.name.errors %}
        <h3><span style="color: red;">{{ error }}</span></h3>
        {% endfor %}

        <!-- Dynamically generates game subreddits. -->
        <fieldset class="form-group">
        {% for flair in form.flairs %}
        <div class="form-check">
            {{ flair(class="form-check-input") }}
            {{ flair.label(class="form-check-label") }}
        </div>
        {% endfor %}
        </fieldset>

        <div class="btn-block">
            <p>Praise the sun! \`[T] /</p>
            {{ form.submit(class_="submit") }}
        </div>
    </form>
</div>
{% endblock %}